<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <!-- LIBRERIAS Y SCRIPT QUE SERAN USADOS PARA COMBO BOX Y POST --> 

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<body style="background-color: #C2D7DB; display: flex; flex-direction: column; min-height: 100vh;">

    <% if (login){ %>
         <!-- Aqui ya te la sabes --> 

   <nav class="navbar sticky-top" style="background-color:#385277 ;color: #a3c1d5;" >  
        <div class="container-fluid ">
            <div class="p-2 d-flex justify-content-start"> AGREGAR PROVEEDOR </div>
            <div class="d-flex justify-content-end"> 
                <input class="text-center" type="date" id="fecha" name="fecha" value="" readonly>
            </div>

            <script>
                // Obtener la fecha actual
                var fechaActual = new Date();
                
                // Formatear la fecha para el valor del input
                var dd = String(fechaActual.getDate()).padStart(2, '0');
                var mm = String(fechaActual.getMonth() + 1).padStart(2, '0');
                var yyyy = fechaActual.getFullYear();
                var fechaFormateada = yyyy + '-' + mm + '-' + dd;
                
                // Asignar la fecha formateada al valor del input
                document.getElementById("fecha").value = fechaFormateada;
              </script>
        </div>
    </nav>
    
         <!-- Estructura  --> 
    <form action="/insertarProveedor2" method="POST">
        <div class="container ">
            <div class="row ">
                <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-sm-7 col-xs-7 p-2  ">
                    <div class="col-12 ">
                        <div class="container ">
                            <div class="row">
                                <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5  ">
                                    <div class="justify-content-start fs-4 " style="color: #385277; ">
                                        <!-- inputs--> 
                                        Nompre - Apellido
                                        <div class="opacity-75">
                                            <input type="text"  name="nombreProveedor" class="form-control rounded-4 border-2" style="background-color: #99B3D8; color: black; border-color: #385277;">
                                        </div>

                                        Empresa
                                        <div class="opacity-75">
                                            <input type="text" name="empresaProveedor" class="form-control rounded-4 border-2" style="background-color: #99B3D8; color: black; border-color: #385277;">
                                        </div>

                                        Correo
                                        <div class="opacity-75">
                                            <input type="text" name="correoProveedor" class="form-control rounded-4 border-2" style="background-color: #99B3D8; color: black; border-color: #385277;">
                                        </div>
                                    </div>
            
                                </div>
                                <!-- Espaciado ocupando de la columna 2--> 
                                <div class="col-2 "></div>

                                <!-- Utilizando el restante de la col =12--> 
                                <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5   ">
                                    <div class="justify-content-start fs-4 " style="color: #385277; ">
                                        <!-- inputs--> 
                                        Contacto
                                        <div class="opacity-75">
                                            <input type="text" name="contactoProveedor" class="form-control rounded-4 border-2" style="background-color: #99B3D8; color: black; border-color: #385277;">
                                        </div>

                                        Ruc
                                        <div class="opacity-75">
                                            <input type="text" name="rucProveedor" class="form-control rounded-4 border-2" style="background-color: #99B3D8; color: black; border-color: #385277;">
                                        </div>

                                        Dirección
                                        <div class="opacity-75">
                                            <input type="text" name="direccionProveedor" class="form-control rounded-4 border-2" style="background-color: #99B3D8; color: black; border-color: #385277;">
                                        </div>
                                    </div>
            
                                </div>


                                    <!-- textarea donde estara todo el contenido Adicional--> 
                                    <!-- col inicia abajo de 0 ocupando 6 --> 

                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6    p-3">
                                    <div class=" " style="color: #385277; ">
                                        <div class="opacity-75">
                                            <div class="form-floating rounded-4 border-2">
                                                <textarea  style="font-size: small; background-color:  #99B3D8; color: black; border-color: #385277; " class="form-control" name="observacionProveedor"  id="floatingTextarea"></textarea>
                                                <label for="floatingTextarea" style="color:  #385277;  ">Adicional</label>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <!-- col inicia nueva  ocupando 5 y 1 total 12 para iniciar de nuevo abajo --> 
                                <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5"></div>
                                <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1"></div>
                                
                                <!-- botones de guardar y cancelar, cancelar puede ser para borrar los datos de input-->     
                                <div class="col-ms-12 col-md-3 col-lg-3 col-xl-3 pt-2  pt-2">
                                    <button type="submit" class="btn rounded-5 border-3 form-control pt-4 pb-4" style="background-color: #81C79F; border-color: #707070;" >GUARDAR</button>
    
                                </div>
                                <div class="col-ms-12 col-md-3 col-lg-3 col-xl-3 pt-2 "> 
                                        <button type="button" class="btn rounded-5 border-3 form-control pt-4 pb-4" style=" background-color: #D64C6D; color:white; border-color: #707070;" ><a href="home"><FONT COLOR="black">CANCELAR </FONT></a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-2"></div>
    </form>

    
    <!-- SIMPLEMENTE ICONO PARA HOME -->  
    <footer class="p-3  z-3 " style="background-color:#385277 ; margin-top: auto;  ">
        <a href="/home">
        <label style="color: white;">HOME</label><img src="https://i.ibb.co/QF1WGmT/casa-1.png" style="height: 2rem; ">
        </a>
</footer>
    <!-- algunos scripts que seran necesarios para combo box  -->  
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"  crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    <% } else { %>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      
        <% if (typeof alert != "undefined") { %>
            <script>
                Swal.fire({
                title: '<%= alertTitle %>',
                text:'<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton:<%= showConfirmButton %>,
                timer:<%= timer %>
                }).then(()=>{
                    window.history.go(-2);
                })
            </script>
        <% }; %>
        <% } %>
</body>
</html>
